<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :size => 80 %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <details>
      <summary>If you need to add special markup...</summary>
    <%= form.text_area :content, id: :article_content, rows: 20, cols: 80 %>
    </details>
    <trix-editor input="article_content"></trix-editor>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
