<%= form_with(model: rails_tip) do |form| %>
  <% if rails_tip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rails_tip.errors.count, "error") %> prohibited this rails_tip from being saved:</h2>

      <ul>
        <% rails_tip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
