<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :size => 80 %>
  </div>
  <p>Use the regular text box for HTML with mark, aside etc or the Trix editor for simpler but longer text entries. Careful though, if you edit and save with Trix any special HTML like mark or aside tags will get stripped out. You can use Trix first and then add special HTML tags using the text area after.</p>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, id: :post_content %>
    <trix-editor input="post_content"></trix-editor>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
