<p style="color: green"><%= notice %></p>

      <div turbo_frame="search"><%= form_with url: "", method: :get, data: {turbo_frame: "posts", turbo_action: "advance", controller: "search", action: "input->search#submit"} do |form| %>
  
        <%= form.search_field :query, value: params[:query], placeholder: 'Search Posts...' %>
      <% end %>
    </div>

<% if Current.user %>
  <%= link_to "New post", new_post_path %>
<% end %>


<%= turbo_frame_tag "posts" do %>
<p id="posts">
  <%= render @posts %>
</p>
<% end %>

<!-- <p id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</p> -->


